{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Edition de l'article
    {% else %}
        Création de l'article
    {% endif %}
{% endblock %}

{% block body %}
<div id="responseCreate">
    {% if app.user %}

        {% if editMode %}
            <h3 class="pb-3">Edition d'un article</h3>
        {% else %}
            <h3 class="pb-3">Rédaction d'une nouvelle fiche d'article</h3>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="status">Status vendu ou reserve</label>
                    <select class="form-control" id="status" name="status">
                        <option value="vendu">vendu</option>
                        <option value="reserve">reserve</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="reference">Référence complète de l'article</label>
                    <input type="text" class="form-control" id="reference" name="reference" value="{{ article.reference }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="prix">Prix de l'article en Dinar</label>
                    <input type="number" class="form-control" id="prix" name="prix" value="{{ article.prix }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="adresse_fournisseur">Nom et adresse du fournisseur</label>
                    <input type="text" class="form-control" id="adresse_fournisseur" name="adresse_fournisseur" value="{{ article.adresseFournisseur }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="content">Présentation rapide de l'article</label>
                    <input type="text" class="form-control" id="content" name="content" value="{{ article.content }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="img">Image de l'article</label>
                    <input type="file" class="form-control" id="img" name="img" value="{{ article.images }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="manuel_utilisation">Manuel d'utilisation</label>
                    <input type="text" class="form-control" id="manuel_utilisation" name="manuel_utilisation" value="{{ article.manuelUtilisation }}">
                </div>
            </div>
        </div>
            <div class="mt-5 text-right">
                {% if editMode %}
                    <button type="submit" class="btn btn-warning mr-1" id="editeArticle">Editer l'article</button>
                {% else %}
                    <button type="submit" class="btn btn-success mr-1" id="createArticle">Créer l'article</button>
                {% endif %}
                
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </div>
        </div>

    {% else %}
        <div class="bg-warning rounded py-3 px-3 text-center">
            <i class="fas fa-exclamation-circle fa-3x"></i>
            <h3>Vous ne pouvez pas accéder à cette page !</h3>
        </div>
    {% endif %}
    </div>
    <script>
        $(document).ready(function(){
        });

        $('#createArticle').on('click', function(){
            var title = $('#title').val();
            var reference = $('#reference').val();
            var status = $('#status').val();
            var prix = $('#prix').val();
            var adresse_fournisseur = $('#adresse_fournisseur').val();
            var content = $('#content').val();
            var img = $('#img')[0].files[0].name;
            var manuel_utilisation = $('#manuel_utilisation').val();

            $.ajax({
                url: "/admin/blog/create",
                type: "POST",
                data: {
                    'title': title,
                    'reference': reference,
                    'status': status,
                    'prix': prix,
                    'adresse_fournisseur': adresse_fournisseur,
                    'content' : content,
                    'img': img,
                    'manuel_utilisation': manuel_utilisation,
                },
                dataType: "json",
                success: function(response){
                    setTimeout(function(){ alert("Ajout fait avec success");
                        window.location.replace("/blog");
                    }, 3000);
                }
            });
            return false;
        });
        $('#editeArticle').on('click', function(){
            var title = $('#title').val();
            var reference = $('#reference').val();
            var status = $('#status').val();
            var prix = $('#prix').val();
            var adresse_fournisseur = $('#adresse_fournisseur').val();
            var content = $('#content').val();
            var img = $('#img')[0].files[0].name;
            var manuel_utilisation = $('#manuel_utilisation').val();

            $.ajax({
                url: "/admin/blog/edit",
                type: "POST",
                data: {
                    'title': title,
                    'reference': reference,
                    'status': status,
                    'prix': prix,
                    'adresse_fournisseur': adresse_fournisseur,
                    'content' : content,
                    'img': img,
                    'manuel_utilisation': manuel_utilisation,
                },
                dataType: "json",
                success: function(response){
                    setTimeout(function(){ alert("Ajout fait avec success");
                        window.location.replace("/blog");
                    }, 3000);

                }
            });
            return false;
        });

    </script>
{% endblock %}
