{% extends 'base.html.twig' %}

{% block body %}
<div class="d-inline-block pb-4">
  <h3 class="pb-2">Bienvenue sur le Dashboard !</h3>
  <p class="text-justify bg-light px-3 py-3 rounded">
    Le Dashboard blogs est un dashboard conçu avec PHP et Symfony 5.
  </p>
  <div class="card-deck">
    {% for article in articles %}
    <div class="card">
      <img class="card-img-top" src="uploads/article_image/{{ article.images }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ path('blog_show', {'id': article.id}) }}">{{ article.title }}</a></h5>
        <p class="card-text">{{ article.content | slice(0, 250) | raw }}...</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ article.createdAt | date("d/m/Y")}} à {{ article.createdAt | date("H:i") }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
