{% extends 'base.html.twig' %}

  {% block title %}
    Liste des articles
  {% endblock %}

  {% block body %}

  {% if app.user %}
    <h3 class="pb-3">Liste des articles</h3>
    <div class="table-responsive-sm">
      <table class="table table-hover">
        <thead>
          <th>Image</th>
          <th width="20%">{{ knp_pagination_sortable(articles, 'Nom', 'p.title') }}</th>
          <th>Contenu</th>
          <th width="9%">{{ knp_pagination_sortable(articles, 'Prix', 'p.prix') }}</th>
          <th width="7%">{{ knp_pagination_sortable(articles, 'Status', 'p.status') }}</th>
          <th width="11%">{{ knp_pagination_sortable(articles, 'Créé le', 'p.createdAt') }}</th>

        </thead>
        <tbody>
          {# on boucle tous les articles avec for #}
          {% for article in articles %}
            <tr>
              <td><img src="uploads/article_image/{{ article.images }}" class="img-fluid float-left mr-4 img-list" alt=""></td>
              <td><a href="{{ path('blog_show', {'id': article.id}) }}">{{ article.title }}</a></td>
              <td class="text-justify tinytext">{{ article.content | slice(0, 250) | raw }}...</td>
              <td class="tinytext"> {{ article.prix }} € </td>
              <td class="tinytext"> {{ article.status }} </td>
              <td class="tinytext">{{ article.createdAt | date("d/m/Y")}} à {{ article.createdAt | date("H:i") }}</td>

            </tr>
            <!--<br><a href="{#{{ path('blog_show', {'id': article.id}) }}#}" class="btn btn-sm btn-primary mb-5">Lire la suite</a>-->
          {% endfor %}
        </tbody>
      </table>
    </div>

    <hr>

    <div class="pagination justify-content-center px-2">
      {{ knp_pagination_render(articles) }}
    </div>


  {% else %}
    <div class="bg-warning rounded py-3 px-3 text-center">
      <i class="fas fa-exclamation-circle fa-3x"></i>
      <h3>Vous ne pouvez pas accéder à cette page !</h3>
    </div>
  {% endif %}

  {% endblock %}
