{% extends 'base.html.twig' %}

{% block body %}

 {% if app.user %}

    <div class="pb-2 border py-3 px-3 mb-3">
      <h3>{{ article.title }}</h3>
      <div class="text-muted font-italic pb-2">
      </div>
      <div class="row">
        <div class="col">
          <img src="../uploads/article_image/{{ article.images }}" class="img-fluid float-left img-show mr-3 mt-1" alt="{{ article.title }}">
          <div class="text-justify">
            {{ article.content | raw }}
          </div>
        </div>
        <div class="col-3 text-center align-self-start">
          <p class="mt-2 py-2 font-weight-boldb bg-dark border text-white">Référence : {{ article.reference }}</p>
          <p class="mt-2 py-2 font-weight-boldb bg-light border tinytext">Article créée le : <b>{{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i") }}</b></p>
          <p class="lead mt-3 py-2 font-weight-bold bg-light border">Prix : {{ article.prix }} €</p>
          </p>
          </p>
          <p class="lead font-weight-bold btn btn-outline-warning btn-lg px-5">
            {% if article.status == 'reserve' %}
              Réservé
            {% else %}
              vendu
             {% endif %} 
          </p>
        </div>
      </div><!-- //row -->
    </div>

    <div class="mt-1">
    <p class="mb-3 alert alert-primary">Il y a {{ article.comments | length }} commentaires pour cet article :</p>
    {% for comment in article.comments %}
      <div class="bg-light rounded px-3 py-3 my-3 mb-4">
        <div class="row">
          <div class="col-2 border-right">
            {{ comment.author }}<br>
            <small><i class="text-muted">{{ comment.createdAt | date('d/m/Y à H:i') }}</i></small>
          </div>
          <div class="col">
            {{ comment.content | raw }}
          </div>
        </div>
      </div>
    {% endfor %}

    {% if app.user %}
      <p class="py-3 px-3 bg-secondary rounded">Ecrivez un commentaire :</p>
      {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'label': 'Votre nom', 'attr': {'placeholder': "Votre nom"}}) }}
        {{ form_row(commentForm.content, {'label': 'Votre commentaire', 'attr': {'placeholder': "Votre commentaire", 'rows': "5"}}) }}
        <button type="submit" class="btn btn-success">Ecrire un commentaire</button>
      {{ form_end(commentForm) }}
    {% else %}
      <div class="text-center pt-4">
        <h5>Vous devez être connecté pour écrire un commentaire</h5>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
      </div>
    {% endif %}
    </div>

  {% else %}
    <div class="bg-warning rounded py-3 px-3 text-center">
      <i class="fas fa-exclamation-circle fa-3x"></i>
      <h3>Vous ne pouvez pas accéder à cette page !</h3>
    </div>
  {% endif %}

{% endblock %}
