<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Blogs 2021{% endblock %}
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body id="tothetop">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="{{ path("home") }}"><img style="width: 50px" src="{{ asset('images/blog.png') }}" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse px-3" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <a href="{{ path('blog') }}" class="text-white px-2"><i class="fas fa-list"></i> Liste des articles</a>
            {% endif %}
        </ul>

        <!-- partie droite + menu -->
        {% if not app.user %}
            <a href="{{ path('security_login') }}" class="text-white px-2"><i class="fas fa-sign-in-alt"></i> Connexion</a>
            <a href="{{ path('security_registration') }}" class="text-white px-2"><i class="fas fa-sign-in-alt"></i>
                S'enregistrer</a>
        {% else %}
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Bienvenue <b>{{ app.user.username }}</b>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <!-- ADMIN MENU -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="dropdown-item bg-primary text-white" type="button">Statut : Admin</span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("admin_blog") }}"><i class="fas fa-user-cog"></i> Articles Admin</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("blog_create") }}"><i class="fas fa-user-cog"></i> Créer un article</a>
                        <!-- USER MENU -->
                    {% else %}
                        <span class="dropdown-item bg-primary text-white" type="button">Statut : User</span>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security_logout') }}" class="text-white"><i
                                class="fas fa-sign-out-alt"></i> Déconnexion</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

<div class="container-fluid">
    <div class="container pt-4 pb-3 px-3 card my-4">
        {% block body %}{% endblock %}
    </div>
</div>
<div style="margin-top: 13%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
        <a class="text-white" href="{{ path("home") }}">Blogs 2021</a>
        <p class="text-white pt-3 pl-1">| &copy; {{ 'now'|date('Y') }} - The Blogs Project</p>
        <p class="ml-auto pt-3 pr-1"><a class="text-white" href="#tothetop"><i
                        class="fas fa-chevron-circle-up fa-3x"></i></a></p>
    </nav>
</div>

{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</body>

</html>
